.carousel-item img {
    height: 50vh; 
    
}

article{
    background: #ecceab;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Georgia', serif;
}

.ballenas{
    background: rgb(145, 186, 202);
    border-radius: 2%;
    font-family: 'Georgia', serif;
}

